# Dependencies
node_modules/
functions/node_modules/
package-lock.json

# Firebase
.firebase/
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local env files
.env
.env.local
